<!-- Holder -->

<div class=activityBox>
  <h6>Completed:</h6>
  <div>
    <p>
      {{#if activity.completed}}
        <p class="completed-true">
          {{activity.completed}}
        </p>
        </p>
      {{else}}
      <p class="completed-false">
        {{activity.completed}}
      </p>
      </p>
    </p>
  </div>
</div>
