@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Tangerine');

// handlebars specific CSS
.activityBox {
  margin-left: auto;
  padding: 30px;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 70px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
  color: black;
  }
